<h5>Welcome to Muvi.in, <%= link_to @user.display_name, edit_user_registration_url %>!</h5>

<h5> We're excited you're here! Muvi.in is all about Indian movies - movie reviews, trailers and other movie and celebrity information.You'll never be out of the loop of the Indian movies again. </h5>

<h5> The Muvi.in Team </h5>

