= content_for :heading do
  %span CriticsReview :
  = @critics_review.movie.name


%div
  %p
    = @critics_review.summary
  %p
    = Time.parse(@critics_review.created_at.to_s).strftime('%d %B %Y').to_s

