
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,  table, caption{
margin : 0;
padding : 0;
border : 0;
outline : 0;
vertical-align : baseline;
font-style:normal;
font-weight:normal;
}

:focus {
outline : 0;
}


table {
border-collapse : separate;
border-spacing : 0;
}

caption, th, td {
text-align : left;
font-weight : normal;
}

blockquote:before, blockquote:after, q:before, q:after {
content : "";
}

blockquote, q {
quotes : "" "";
}

/*******************************************************/
@font-face {
     font-family: "NeoSans-Medium";
     src: url("NeoSans-Medium.otf");
   }

body {
	margin: 0px;
	padding:0px 0px 0px 0px;
	color: #5a584e;
	font-family:"Arial" ,Liberation Sans,DejaVu Sans,sans-serif;
	font-variant: normal;
	font-weight: normal;
	font-size: 12px;
	border-top:3px solid #303747;
	background:#337b9d url(/images/body.jpg) repeat-x;
}
h1,h2,h3,h4{font-weight:bold;}

.left{float:left;}
.right{float:right;}
.clear{clear:both;}
p{line-height: 1.5em;}
a{text-decoration:none;}

.main{background:url(/images/bg.jpg) no-repeat top center;min-height:600px;}


#header{
	margin:0px auto;
	padding:0px;
	width:1000px;
	min-height:162px;
	clear:both;
}


.headerLeft{width:62%;padding:10px 0px;}

.headerRight{width:35%;text-align:right;}

ul.links{
    width:100%;
	background: url(/images/linkBg.png) no-repeat;
	height:35px;
	text-align:left;
}

ul.links li{
	display:inline;
	text-decoration:none;
	padding-right:20px;
	padding-left:20px;
	line-height:30px;
}

ul.links li.last{background-image:none;position:relative;top:0px;padding-right:10px;padding-left:10px;}
ul.links li a{color:#fff;text-decoration:none;font-weight:bold;font-size:11px;}
ul.links li a.register{
	background:url(/images/Reg_icon.png) no-repeat left;
	padding-left:18px;
    position:relative;top:-10px;
}
ul.links li a.login{
	background:url(/images/login.gif) no-repeat left;
	padding-left:18px;
	position:relative;top:-10px;
}

.tabs{margin:40px 0px 0px 0px;}

.tabs li{display: inline;margin: 0;}

.tabs li a{
	text-decoration:none;
	padding:10px 15px;
	margin-right:3px;
	color:#fff;
	font-size:15px;
	border:1px solid #2190a4;
	background:#2693AC url(/images/tab.jpg) repeat-x;
	-moz-border-radius-topright:5px;
  	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topleft:5px;
  	-webkit-border-top-left-radius:5px;
	text-shadow: 1px -1px #3F7F91, 0px 0px #3F7F91;
	border-bottom:none;
	font-family:"NeoSans-Medium", Arial,Liberation Sans,DejaVu Sans,sans-serif;
}


.tabs li a:hover {
	background:#E887CE url(/images/activetab.jpg) repeat-x;
	border:1px solid #d05cad;
}

.tabs li a.active {
	background:#E887CE url(/images/activetab.jpg) repeat-x;
	border:1px solid #d05cad;
}

.languageSelect{
	background:url(/images/selectBg.png) no-repeat;
	line-height:33px;
	margin-top:15px;
	width:210px;
	padding:3px 0px 3px 8px;
	text-align:left;
}

.languageSelect span{color:#fff;font-size:12px;text-shadow: 1px -1px #777, 0px 0px #777;padding:0px;}

.languageSelect select{
  background:#fff url(/images/selectxInnerBg.jpg) repeat-x;
  color: #000;
  border:none;
  font-size: 11px;
  line-height: 2em;
  margin: 0;
  padding: 3px 5px;
 -webkit-border-top-left-radius:8px;
 -moz-border-radius:8px;
 
}

.search{
	background:url(/images/searchBg.png) no-repeat;
	margin-top:32px;
	width:275px;
	height:38px;
	padding:6px 5px 0px 5px;
    text-align:left;
}

#search {
  display: inline;
  float: left;
  width: 98%;
}

#search form {
  position: relative;
}

#search input.searchBox {
  padding: 7px 0px 0px 33px;
  color: #496374;
  border: none;
  background: url('/images/search.png') no-repeat;
  width:177px;
  height: 25px;
  overflow: hidden;
}

::-webkit-input-placeholder
{
  color: #657787;
  font-size:11px;
  font-weight:bold;
  letter-spacing: -1px;
}

.search div.btn input{color:#fff;background: url(/images/no_img.jpg) no-repeat;background-color:none;font-size:13px;border:none;text-shadow: 1px -1px #777, 0px 0px;padding:0px;line-height:28px; width:40px;margin:0px;}


#wrapper{
	margin:0px auto;
	padding:8px 0px 0px 0px;
	width:1000px;
    min-height:450px;
	background-color:#DAE8EE;
}

.container{min-height:500px;padding:0px 20px 20px 20px;background-color:#fff;width:725px;}
.container h2{font-size:16px;color:#D649A5;line-height:42px;}
.container h2 span{color:#445B6D;font-weight:bold;}

.borderDiv{
	border:1px solid #ddd;
	border-bottom:2px solid #ddd;
	min-height:450px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.containerIn{padding:20px 20px 20px 0px;}


.box{
	width:305px;
	padding:15px 12px;
	height:205px;
	background:#e7ecf2 url(/images/boxBg.jpg) repeat-x bottom;
	border:1px solid #CCD5DC;
	border-bottom:2px solid #CCc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-bottom:15px;
	margin-left:20px;
}


.moviBox{
	width:45%;
	background: url(/images/bannerBottom.jpg) no-repeat center bottom;
	min-height:210px;
	margin-right:5px;
}

.moviBox img{ height: 200px; width: 130px}

.title{height:40px;width:51%;}

.title h3{background:url(/images/thumbDown.png) no-repeat right;font-size:13px;color:#196EA4;padding-right:25px;line-height:15px;}

.rating{
	width:47%;
	padding:8px;
	height:105px;
	margin-bottom:10px;
	border:1px solid #CCD5DC;
	background-color:#fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.rating h4{color:#686565;font-size:12px;}

.detailLeft { min-height:100px;width:42%;}

.ratingBar{
    width:64%;
    background-color:#d2dce6;
	border: 1px solid #becbd4;
    height:12px;
    margin-bottom:5px;
	margin-top:2px;
    padding:2px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;

}
div.positive, div.negative{-moz-border-radius:3px;-webkit-border-radius:3px;}

.positive { background:url(/images/G-RatingBar.jpg) repeat-x; }
.negative { background:url(/images/R-RatingBar.jpg) repeat-x; }

.ratingvalue {
  width:30%;
  height:28px;
  line-height:25px;
  font-weight:bold;
  color:#000;
  font-size:14px;
}
.rating h4 a {
	background:url(/images/BthumbIcon.jpg) no-repeat right;padding:5px 20px 5px 0px;color:#222;
}
.sidebar{
	width:210px;
	min-height:470px;
    margin:5px 10px 0px 0px;
}


.GrayHeaderBox{
	background:#fff url(/images/grayBoxHeader.jpg) no-repeat top;
	min-height:160px;
	border-bottom:1px solid #B1B1B1;
	padding:0px 10px 10px 10px;
	margin-bottom:20px;
}

.GrayHeaderBox h3{
	color:#fff;
	font-size:13px;
	background:url(/images/arrow.gif) no-repeat left ;
	padding-left:20px;
	line-height:30px;
}

.row{background-color:#EBF0F3;margin-top:10px;padding:5px;height:43px;}
.image{background-color:#fff;padding:3px;border:1px solid #ddd;width:35px;height:35px;}

.image img{width:35px;height:35px;}

.row div.names{width:48%;margin:2px;}
.row div.names h4{color:#1B6CA3;font-size:11px;}

.icon{width:20%;text-align:right;}

.GrayHeaderBox a{text-decoration:none;font-size:11px;color:#1B6CA3;font-weight:bold;}

.GrayHeaderBox a.watch{color:#E077B9;}

.GrayHeaderBox a span{font-size:11px;}

.advtBanner{
	min-height:150px;
}

.advtBanner img{width:210px;height:150px;}

h3.advertisement{line-height:30px;font-size:14px;}


.moviBanner{width:25%;}

.moviImage{
	width:46%;
	background: url(/images/banvnerBottom.jpg) no-repeat center bottom;
	min-height:210px;
	margin-right:5px;
}

.moviDetail{width:75%;}
.detail{background:#f3f8fc url(/images/moviDetailBg.jpg) repeat-x;min-height:250px;padding:8px 10px;border:1px solid #ddd;margin-bottom:15px;}

.detail h3{
	color:#fff;
	font-size:12px;
	background:url(/images/arrow.gif) no-repeat left ;
	padding-left:20px;
	margin-bottom:5px;
	text-transform:uppercase;
}

.detail h4{color:#222;margin-top:5px;}
.detail p{color:#222;padding:10px;}

.criticsRating{
	padding:5px;
	min-height:50px;
	margin-top:10px;
	border:1px solid #CCD5DC;
	background-color:#fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}


.criticsRating a{color:#649FC1;}
.friendsLiked{border-left:1px solid #ddd;min-height:100px;width:52%;padding:5px;}


.actress{background-color:#fff;padding:5px;border:1px solid #ddd;width:20%;height:35px;}
.actress img{width:35px;height:35px;}

div.actressNames{width:48%;}
div.actressNames h4.large{color:#5d91ba;margin:5px;font-size:13px;}
div.actressNames h4{color:#222;margin:5px;font-size:11px;margin:0px padding:0px;}

.footer{
	width:990px;
	margin:0 auto;
	padding:20px 5px;
	background: url(/images/footer.jpg) repeat-x;
	min-height:208px;
	font-family:" Arial" ,Liberation Sans,DejaVu Sans,sans-serif;
}

.colOne{width:30%;min-height:200px;}
.colTwo{width:20%;min-height:200px;margin-left:20px;}

.colTwo h3{color:#FBBC00;font-size:15px;}

.colTwo hr{margin:5px 10px 5px 0px;border-top:1px solid #394A5E;border-bottom:1px solid #5F798A;}

.footer ul{margin:0px;}

.footer ul li{
	display:block;
	line-height:22px;
	list-style:none;
	background:url(/images/arrow.gif) no-repeat left;
	padding-left:12px;
	font-size:12px;
	color:#8c8b88;
}

.footer ul li a{color:#fff;text-decoration:none;}

.footerLeft{width:80%;}
.footerRight{width:28%;position:relative;top:-61px;text-align:right;}























