
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,  table, caption{
margin : 0;
padding : 0;
border : 0;
outline : 0;
vertical-align : baseline;
font-style:normal;
font-weight:normal;
}

:focus {
outline : 0;
}


table {
border-collapse : separate;
border-spacing : 0;
}

caption, th, td {
text-align : left;
font-weight : normal;
}

blockquote:before, blockquote:after, q:before, q:after {
content : "";
}

blockquote, q {
quotes : "" "";
}

/*******************************************************/
@font-face {
     font-family: "Neo Sans-Medium";
     src: url("NeoSans-Medium.otf") format("opentype");

   }

body {
	margin: 0px;
	padding:0px 0px 0px 0px;
	color: #5a584e;
	font-family:"Arial" ,Liberation Sans,DejaVu Sans,sans-serif;
	font-variant: normal;
	font-weight: normal;
	font-size: 12px;
	border-top:3px solid #303747;
	background:#337b9d url(/images/body.jpg) repeat-x;

}

h1,h2,h3,h4{font-weight:bold;}

.left{float:left;}
.right{float:right;}
.clear{clear:both;}
p{line-height: 1.5em;}
a{text-decoration:none;}

.main{background:url(/images/bg.jpg) no-repeat top center;min-height:600px;}


#header{
	margin:0px auto;
	padding:0px;
	width:1000px;
	clear:both;
}

.logo {margin-top: 15px;}

.linkLeft{background:url(/images/linkLeftBg.png) no-repeat left;width:18px;height:34px;}
.linkRight{background:url(/images/linkRightBg.png) no-repeat left;width:18px;height:34px;}

ul.links{
	background: url(/images/linkBg.png) repeat-x;
	height:34px;
	width:325px;
}

ul.links li{
	display:inline;
	float: left;
	display: block;
    line-height:34px;
	margin-left:5px;
	text-align:center;
	margin-right:12px;
	padding-right:18px;
	background:url(/images/navLine.png) no-repeat right;
}



ul.links li a{ 
	color:#fff;
}

ul.links li a.register{
	background:url(/images/Reg_icon.png) no-repeat left;
	padding-left:20px;
    
}
ul.links li a.login{
	background:url(/images/login.gif) no-repeat left;
	padding-left:20px;
}

ul.links li.last {background-image:none;position:relative;top:0px;padding-right:0px;padding-left:0px;text-align:top;border-right:none;margin-right:0px;}

ul.links li a.profile{
	padding-left:50px;padding-right:50px;
}
ul.links li a.logout{
	padding-left:50px;padding-right:0px;
}

/*
ul.links{
	background:red url(/images/lixnkBg.png) no-repeat;
	height:34px;
	width:345px;
}

ul.links li{
	display:inline;
	text-decoration:none;
	padding-right:20px;
	padding-left:20px;
	text-align:center;padding-top:10px;padding-bottom:10px;    border-right:1px solid #fff;
	width:90px;
}
ul.links li a img{float:right;height:30px;background:green;position:relative;}

ul.links li.last{background-image:none;position:relative;top:0px;padding-right:10px;padding-left:0px;text-align:top;border-right:none;}

ul.links li a{color:#fff;text-decoration:none;font-weight:bold;font-size:11px; }

ul.links li a.register{
	background:url(/images/Reg_icon.png) no-repeat left;
	padding-left:18px;
    
}
ul.links li a.login{
	background:url(/images/login.gif) no-repeat left;
	padding-left:18px;
	
}

ul.links li a.profile, ul.links li a.logout{
	padding-left:20px;
}*/


#top_bar{margin-top: 10px; margin-bottom: 0px; }

.headerLeft{width:68%; }

.headerRight{width:31%;  }

.tabs{margin:0px; padding: 0px;}

.tabs li{display: inline;margin: 0; }



.tabs li a{
   text-shadow: 0px -1px #2c6272, 0px 0px;
   border-bottom:none;
   font-family:"Neo Sans-Medium";
   display: block;
   float: left;
   margin: 0px 6px 0px 0px;
   padding: 0px 20px 0px 18px;
   text-decoration: none;
   font-size: 15px;
   font-weight: bold;
   color: #fff;
   width: 92px;
   line-height:41px;
   text-align:center;
   background:url('/images/tab.png') no-repeat;

}


.tabs li a:hover {
	background: url('/images/active_tab.png') no-repeat;
    background-color:none;
}

.tabs li.active a {
	background: url(/images/active_tab.png) no-repeat;
	background-color:none;
}


.languageSelect{
	background:url(/images/selectBg.png) no-repeat;
	line-height:33px;
	margin-top:15px;
	width:204px;
	padding:3px 8px;
	text-align:left;
}

.languageSelect span{float:left;color:#fff;font-size:12px;text-shadow: 0px -1px #2c6272, 0px 0px;padding:0px;}

 #mainselection {
   overflow: hidden;
   width: 80px;
   padding:0px 3px;line-height:10px;
   height:25px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   background: #fff;float:right;
	margin-top:5px;

   }
#mainselection select{
  background-color:#fff;
     margin-top:3px;
       border: 1px solid #fff;

}

.search{
	background:url(/images/searchBg.png) no-repeat;
	width:281px;
	height:34px;
	padding:6px 3px 0px 6px;
    text-align:left;
}

#search {
  display: inline;
  float: left;
  width: 98%;
}

#search form {
  position: relative;
}

#search input.searchBox {
  padding: 7px 0px 0px 30px;
  color: #496374;
  border: none;
  background: url('/images/search.png') no-repeat;
  width:185px;
  height: 25px;
  overflow: hidden;
}

::-webkit-input-placeholder
{
  color: #657787;
  font-size:12px;
  font-weight:bold;
  font-family:"Arial" ,Liberation Sans,DejaVu Sans,sans-serif;
}

::-moz-input-placeholder
{
  color: #657787;
  font-size:12px;
  font-weight:bold;
  font-family:"Arial" ,Liberation Sans,DejaVu Sans,sans-serif;
}

.search div.btn input{
	color:#fff;
	background:none;
	font-size:14px;
	border:none;
	text-shadow: 0px -1px #888, 0px 0px;
	padding:0px;
	line-height:28px;
	margin:0px 2px 0px 0px;
	font-weight: bold;
	text-align:left;
}


#wrapper{
	margin:0px auto;
	padding:7px 0px 0px 0px;
	width:1000px;
    min-height:450px;
	background-color:#DAE8EE;
}

.container{min-height:500px;padding:0px 20px 20px 20px;background-color:#fff;width:730px;}
.container h2{font-size:17px;color:#D649A5;line-height:42px;}
.container h2 span{color:#445B6D;font-weight:bold;}

.sidebar{
	width:210px;
	min-height:470px;
    margin:5px 10px 0px 0px;
}


.homeContainerIn{padding:20px 20px 20px 0px;}
.containerIn{padding:12px;}

.borderDiv{
	border:1px solid #ddd;
	border-bottom:2px solid #ddd;
	min-height:450px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}


.box{
	width:312px;
	padding:12px 10px;
	height:205px;
	background:#e7ecf2 url(/images/boxBg.jpg) repeat-x bottom;
	border:1px solid #CCD5DC;
	border-bottom:2px solid #CCc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-bottom:15px;
	margin-left:20px;
}


.moviBox{
	width:130px;
	background: url(/images/bannerBottom.jpg) no-repeat center bottom;
	height:210px;margin-right:10px;
}

.moviBox img{ height: 200px; width: 130px}

.title{height:45px;width:145px;}

.title h3{font-size:14px;color:#196EA4;padding-right:25px;line-height:13px;}

.thmubs_up{background:url(/images/thumbUp.png) no-repeat;height:18px;width:18px;}
.thmubs_down{background:url(/images/thumbDown.png) no-repeat;}
img.thumb { height:18px;width:18px; }
.rating{
	width:161px;
	padding:9px 0px 9px 9px;
	height:102px;
	margin-bottom:5px;
	border:1px solid #CCD5DC;
	border-bottom:2px solid #CCD5DC;
	background-color:#fff;
	-moz-border-radius:5px;text-align:left;
	-webkit-border-radius:5px;
}

.rating h4{color:#686565;font-size:12px;}

.rating div.ratingBar{
    width:98px;
    background-color:#d2dce6;
	border: 1px solid #becbd4;
    height:17px;
    margin-bottom:5px;
	margin-top:2px;
    padding:3px 2px 2px 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;

}
div.positive, div.negative{-moz-border-radius:3px;-webkit-border-radius:3px;height:17px;}

.positive { background:url(/images/G-RatingBar.jpg) repeat-x; }
.negative { background:url(/images/R-RatingBar.jpg) repeat-x; }

.ratingvalue {
  font-weight:bold;font-size:17px;letter-spacing:-1px;width:25px;text-align:left;color:#31384b;margin-left:5px;line-height:28px;
}

.rating h4 a {
	background:url(/images/BthumbIcon.jpg) no-repeat right;padding:5px 20px 5px 0px;color:#222;
}


.GrayHeaderBox{
	background:#fff url(/images/grayBoxHeader.jpg) no-repeat top;
	width:191px;
	min-height:160px;
	border-bottom:1px solid #ccc;
	padding:0px 10px 10px 10px;
	margin-bottom:20px;
	-moz-border-radius-bottomright	:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomleft	:8px;
	-webkit-border-bottom-left-radius:8px;
}

.GrayHeaderBox h3{
	color:#fff;
	font-size:14px;
	background:url(/images/arrow.gif) no-repeat left ;
	padding-left:20px;
	line-height:30px;
}

.row{background-color:#EBF0F3;margin-top:10px;padding:5px;height:43px;}
.image{background-color:#fff;padding:3px;border:1px solid #ddd;width:35px;height:35px;}

.image img{width:35px;height:35px;}

.row div.names{width:48%;margin:2px;}
.row div.names h4{color:#1B6CA3;font-size:12px;}

.icon{width:20%;text-align:right;}

.GrayHeaderBox a{text-decoration:none;font-size:11px;color:#1B6CA3;font-weight:bold;}

.GrayHeaderBox a.watch{color:#E077B9;}

.GrayHeaderBox a span{font-size:11px;}

.advtBanner{
	min-height:150px;
}

.advtBanner img{width:210px;height:150px;}

h3.advertisement{line-height:30px;font-size:14px;}


/*................... Show page css................*/

.moviBanner{width:130px;}

.moviImage{
	width:130px;
	background: url(/images/W-bannertBottom.jpg) no-repeat center bottom;
	min-height:210px;
}

.moviDetail{width:562px;margin-left:8px;}

.detail{background:#f3f8fc url(/images/moviDetailBg.jpg) repeat-x;
padding:0px 15px 0px 15px;border:1px solid #ddd;margin-bottom:15px;width:532px;}


.detail div.moviRatingBox{width:210px;padding-bottom:5px;}

.detail h5,span,a{font-weight:bold;}

.detail h3{
	color:#fff;
	font-size:12px;
	background:url(/images/w-arrow.gif) no-repeat left ;
	padding-left:12px;
	text-transform:uppercase;
	line-height:25px;
    position:relative;
	left:-10px;
}


.detail p{color:#222;padding:10px;}

.detail h5{
	color:#4f4f4f;
	line-height:28px;
	font-size:11px;
	border-bottom:1.5px dotted #5694bd;
	margin:5px 0px;
}
.detail h5 span{color:#176B9F;}
.detail h5 span.director{margin-right:100px;}

.detail h5.cast{line-height:25px;border-bottom:none;font-size:11px;}
.detail h5.cast a{color:#176B9F;text-decoration:none;}


.detail div.rating{
	width:195px;
	padding:9px 10px;
	height:62px;
	margin-bottom:8px;
	border:1px solid #CCD5DC;
	border-bottom:2px solid #CCD5DC;
	background-color:#fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.detail div.rating h4{color:#6E6E6E;font-size:14px;}

.detail div.rating a{color:#649FC1;}


.detail div.rating a{color:#196ea4;font-size:12px;}

.detail div.rating div.ratingvalue {font-size:20px;letter-spacing:-1px;width:35px;padding:0px;text-align:left;color:#53555F;margin-left:5px;}


.detail div.rating div.ratingBar{
    width:128px;
    background-color:#d2dce6;
	border: 1px solid #becbd4;
    height:17px;
    margin-bottom:5px;
	margin-top:2px;
    padding:3px 3px 2px 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;

}

.friendsLink{
	width:275px;
	border-left:1px solid #ddd;
	height:200px;
	padding-left:15px;
}

.friendsLink h4{
	color:#6E6E6E;
	font-size:14px;
	margin-top:12px;
}
.friendsLink img{ margin:5px 1.5px 0px 0px;}
.friendsLink a img{ margin:0px;}

.detail div.moviCasts{width:260px;}

.actress{background-color:#fff;padding:2px;border:1px solid #ddd;width:45px;height:45px;margin-bottom:5px;border:1px solid #eee;margin-top:3px;}

.actress img{width:45px;height:45px;}
.detail div.actressNames{width:200px;margin-left:5px;text-align:left;}

div.actressNames h4.large{color:#186fa4;font-size:13px;margin-top:5px;}
div.actressNames h4{color:#4f4f4f;font-size:11px;}
#facebook_login {
    padding:10px;
    color:#000;
}


.containerIn .ui-widget-content { border: none;  color: #777;}
.containerIn .ui-widget-header {  border: none;  background: none; color: #777; font-weight: bold; }
.containerIn .ui-widget-content a { color: #2d7aab; font-weight: bold;}

.containerIn .ui-tabs .ui-state-default{
    border: none;
    border-top: 3px solid #3d86a3;
    background: #196f92;
    -moz-border-radius: 7px 7px 0px 0px ;
    -webkit-border-radius: 7px 7px 0px 0px ;
    }

 .containerIn .ui-tabs .ui-state-active{
    background: #7fa4be;
    background-image: none;
    border-top: 3px solid #a7c1d1;
    -moz-border-radius: 7px 7px 0px 0px ;
    -webkit-border-radius: 7px 7px 0px 0px ;
    }

.containerIn .ui-tabs .ui-state-active a, .containerIn .ui-tabs .ui-state-default a{
    color: #fff;
    margin: 0px;
    padding: 5px;
    }

.containerIn .ui-state-default {
    background-image: none; /* remove default bg image */
}

.containerIn .ui-tabs ul.ui-tabs-nav{border-bottom: #7da5be solid 5px; -moz-border-radius: 0px;
  -webkit-border-radius: 0px;  padding-left: 0px;}

.containerIn .ui-tabs .ui-tabs-panel{border: #eee solid 1px;
    min-height:100px;
	height:auto !important; /* for ie */
    height:100px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
	padding:0px;
  }

.containerIn .ui-tabs ul.ui-tabs-nav li{margin-right: 5px; padding: 0px 25px 0px 10px; }


.containerIn div.reviewBox{
    width:289px;
	padding:15px 12px;
	height:100px;
	border:1px solid #6ACDD8;
	border-bottom:none;
	-moz-border-radius-topright	:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topleft	:5px;
	-webkit-border-top-left-radius:5px;

}
.containerIn div.reviewBox p{color:#222;margin-bottom:20px;}
.containerIn div.reviewBox a{color:#1C6EA6;line-height:30px;margin-top:20px;}

div.reviewBox{
    width:289px;
	padding:15px 12px;
	height:100px;
	border:1px solid #6ACDD8;
	-moz-border-radius	:5px;
	-webkit-border-radius:5px;
}

.reviewIcon{width:15%;min-height:200px;}

.field label{color:#4F6475;font-size:11px;font-weight:bold;}

.review{
	background:#5e7e95 url(/images/reviewBg.jpg) no-repeat;
	min-height:50px;
	width:291px;
	padding:15px 12px;
}

.review div.photo{background-color:#fff;padding:3px;border:1px solid #ddd;width:48px;height:48px;}

.review div.photo img{width:48px;height:48px;}

.review div.profile{width:75%;text-align:left;}
.review div.profile h3{color:#5FA0BC;}
.review div.profile p{color:#fff;font-size:11px;font-weight:bold;margin:5px 0px;}
.review div.profile p.date{color:#5BACBE;font-size:10px;font-weight:bold;}

.sortbyDate{margin:12px 0px 10px 20px;}
.sortbyDate label{font-weight:bold;color:#000;font-size:12px;}

.sortbyDate select{
    font-weight:bold;
    padding: 2px;
	font-size: 12px;
	color: #888681;
	border: none;
	width: 73px;
	height: 20px;
	background: #fff url(/images/size-selectbox-bg.gif) top center no-repeat;
}

a#comment_count{color:#4F86A6;text-decoration:underline;}

.pagination{
	height:25px;
	padding:0px;
    margin:12px 20px 10px 10px;
	width:200px;
	background-color:#ddd;
}


.pagination a img{border:none;}

.muvi_pagination{background-color:#ddd;height:25px; margin:12px 20px 10px 10px;}
.pagination_detail{min-width:100px; padding: 6px 5px 0px 5px; font-weight: bold;text-align:center;}

.footer{
	width:965px;
	margin:0 auto;
	padding:20px 10px 20px 25px;
	background:#506C81 url(/images/footer.jpg) repeat-x;
	min-height:160px;
	font-family:" Arial" ,Liberation Sans,DejaVu Sans,sans-serif;
	border-bottom:2px solid #384B59;
	border-top:2px solid #9FAAB0;
}

.likeBox{width:295px;min-height:200px;}
.col{width:200px;min-height:200px;margin-left:22px;}

.col h3{color:#FBBC00;font-size:15px;}

.col hr{margin:5px 10px 5px 0px;border-top:1px solid #394A5E;border-bottom:1px solid #5F798A;}

.col h3.quickStatistics{font-style:italic;}

.footer ul{margin:0px;}

.footer ul li{
	display:block;
	line-height:22px;
	list-style:none;
	background:url(/images/arrow.gif) no-repeat left;
	padding-left:12px;
	font-size:12px;
}

.footer ul li a{color:#fff;text-decoration:none;font-style:normal;}

.footer ul.quickStatistics li{
    font-weight:bold;
	list-style:none;
	font-size:12px;
	color:#fff;
	font-style:italic;
}

.footerBottom{
	width:960px;
	margin:0 auto;
	padding:0px 20px;
	height:50px;
	background: url(/images/footerBottom.jpg) repeat-x;
	font-family:" Arial" ,Liberation Sans,DejaVu Sans,sans-serif;
}

.footerLeft{width:70%;}
.footerLeft p{line-height:50px;font-weight:bold;color:#44596a;font-size:11px;}
.footerRight{width:28%;text-align:right;position:relative;top:-25px;}

