-unless @celebrities.blank?
  -@celebrities.each do |cast|
    .box.left
      .celebrityImage.left
        = image_tag(cast.image)
      .celebrityDetail.left
        .title
          %a(href="#" rel="")
            = cast.name
        .rating
          %h4 Popularity Index
          .ratingBar.left

          .ratingvalue.left
            54%
          .clear
          .userFriends.left
            Users
          .number-ofFans.left
            200 fans
          .clear
          .userFriends.left
            Friends
          .number-ofFans.left
            200 friends are fans
  .clear

