.footer
  .likeBox.left
    %iframe{:frameborder => "1px", :scrolling => "no", :src => "http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FMuviin%2F164862676894836&width=294&colorscheme=light&show_faces=true&stream=false&header=false&height=180", :style => "background-color:#ECECEC; overflow:hidden; width:290px; height:180px;"}
  .col.left
    %h3 About Us
    %hr/
    %ul
      %li
        %a{:href => "#"} What is Muvi
      %li
        %a{:href => "#"} How do the reviews work
      %li
        %a{:href => "#"} FAQs
  .col.left
    %h3 Contact Us
    %hr/
    %ul
      %li
        %a{:href => "#"} Submit a Question
      %li
        %a{:href => "#"} Advertise With Us
      %li
        %a{:href => "#"} Investor Relationships
  .col.left
    %h3.quickStatistics Quick Statistics
    %hr
    %ul.quickStatistics
      %li
        = Movie.count
        Movies
      %li
        = CriticsReview.count
        Movie reviews
      %li
        = Cast.count
        Celebrities
  .clear
.footerBottom
  .footerLeft.left
    %p © 2009-2010  Muvi.in.All Rights Reserved
  .footerRight.right
    %img{:src => "/images/footerMoviIcon.jpg"}/

