.footer
  .colOne.left
    %img{:src => "/images/footerbanner.jpg"}/
  .colTwo.left
    %h3 About Us
    %hr/
    %ul
      %li
        %a{:href => "#"} what is Muvi
      %li
        %a{:href => "#"} How do the reviews work
      %li
        %a{:href => "#"} FAQs
  .colTwo.left
    %h3 Contact Us
    %hr/
    %ul
      %li
        %a{:href => "#"} Submit a Question
      %li
        %a{:href => "#"} Advertise With Us
      %li
        %a{:href => "#"} Investor Relationships
  .colTwo.left
    %h3 Upcoming Movies
    %hr/
    %ul
      %li
        %a{:href => "#"} Khoon Maaf
      %li
        %a{:href => "#"} Game
      %li
        %a{:href => "#"} No One Killed Jessica
      %li
        %a{:href => "#"} Turning 30
  .claer
  .footerLeft.left
    %p © 2009-2010  Muvi.in.All Rights Reserved
  .footerRight.right
    %img{:src => "/images/footerMoviIcon.jpg"}/

