- image = (from == 'movies')? 'ratebutton.jpg' : 'express_intrest.jpg'
- unless current_user.blank?
  = link_to image_tag(image), '#rate_movie', :rel => 'facebox'
-else
  = link_to image_tag(image), new_user_session_path, :rel => 'facebox'
%br

