.right
  #pagination
    = will_paginate(@movie_tweets,:entry_name => 'review',  :class => 'muvi_pagination', :params => {:controller => "tweets" , :action => "index", :id => @movie.id })
.clear
= render '/shared/movie_tweets'

