= render 'shared/meta_title_and_keywords', { :key => 'home'}
= content_for :heading do
  Latest Movie
  %span Reviews
.homeContainerIn.borderDiv
  = render 'shared/movies',  { :from => 'home'}
  .right
    = will_paginate(@movies,  :class => 'muvi_pagination')
  .clear

