= content_for :heading do
  Latest Movie
  %span Reviews
.containerIn
  = render :partial => 'shared/movies', :locals => { :from => 'home'}
  .right
    = will_paginate @movies, {:page_links => false}
  .clear

