= render 'shared/meta_title_and_keywords', { :key => 'home'}
= content_for :heading do
  Latest Movie
  %span Reviews
.homeContainerIn.borderDiv
  = render 'shared/movies',  { :from => 'home'}
  = paginate @movies
  .pagination.right
    %span.left
      %a{:href => "#"}
        %img{:src => "/images/paginationLeft.jpg"}
    %span
      1 to 6 of 50 Movies
    %span.right
      %a{:href => "#"}
        %img{:src => "/images/paginationRight.jpg"}
  .clear

