= content_for :heading do
  Latest Movie
  %span Reviews
.containerIn
  = render :partial => 'shared/movies', :locals => { :from => 'home'}
  .right
    %img{:src => "images/pagination.jpg"}
  .clear

