- unless @movies.blank?
  - @movies.in_groups_of(3) do |group| 
    - group.each do |movie|
      - unless movie.blank?
        .left.movie
          = image_tag('no-logo.png')
          %br
          = link_to movie.name, movie_path(movie)
    .clear   
