= render 'shared/meta_title_and_keywords', { :key => 'home'}
= content_for :heading do
  Latest Movie
  %span Reviews
.containerIn.borderDiv
  = render 'shared/movies',  { :from => 'home'}
  .right
    = will_paginate @movies, {:page_links => false}
  .clear

