defaults: &defaults
    # Required.
    client_id:
    client_secret:  
    authorization_server: https://graph.facebook.com
    requested_scope: email,offline_access,publish_stream,read_stream,status_update,friends_likes,user_activities,friends_activities
    authorize_path: /oauth/authorize
    access_token_path: /oauth/access_token

development:
  <<: *defaults

test: &test
  <<: *defaults

production: &production
  <<: *defaults

# staging:
#   <<: *production
#
# cucumber:
#   <<: *test
