= render 'shared/meta_title_and_keywords', { :key => 'home'}
= content_for :heading do
  Coming soon

.homeContainerIn.borderDiv
  = render :partial => 'shared/movies', :locals => { :from => 'coming_soon'}
  .right
    = will_paginate(@movies,  :class => 'muvi_pagination')
  .clear

