$("#coming_soon").html("<div class='homeContainerIn borderDiv'><%= escape_javascript(render('movies'))%> <div class='right'> <%= will_paginate(@movies,  :class => 'muvi_pagination') %></div><div class='clear'></div></div>");

